*
    padding:0
    margin:0
    box-sizing: border-box
html
    font-family: 'Courier New', Courier, monospace
    -ms-overflow-style: none
    scrollbar-width: none
    scroll-behavior: smooth
    cursor: url(../images/cursor.png), auto
    ::-webkit-scrollbar
        display: none
body
    scroll-snap-type: y mandatory
    overflow-y: scroll