%view
    height: 84vh
    position: relative
    padding: 5vw
    .view-heading
        display: block
        font-size: 80px
        font-weight: 800
.view1
    @extend %view
    background-color: $primary
    #bb
        position: absolute
        font-size: 150px
        color: $accent
        background-color: $secondary
        padding: 0px 35px
        box-shadow: -5px 5px 0 $accent
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        transition: all linear 0.1s
        &:hover
            transform: translate(-50%,-50%) translate(-5px,5px)
            box-shadow: 0px 0px 0 $accent
        #were
            font-size: 30px
            font-weight: 600
            line-height: 30px
            margin-bottom: -30px
            font-variant-caps: unicase
.view2
    @extend %view
    background-color: $secondary
    .work-container
        display: flex
        padding: 2vw
        .work
            margin: 1vw
            text-align: right
            img
                width: 300px
            p
                margin-top: -20px
                font-size: 30px
                font-weight: 600
                span
                    position: relative
                    z-index: 1
                &::after
                    content: ""
                    display: inline-block
                    position: absolute
                    transform: translateX(-95%)
                    background-color: $accent
                    width: 200px
                    height: 30px
.view3
    @extend %view
    background-color: #aaa
    .view-content
        margin: 5vw
        display: flex
        justify-content: space-between
        .info-container
            flex-direction: column
            p
                width: fit-content
        .form-container
            form
                background-color: #fff
                padding: 5px 2vw 15px 2vw
                border: 2px solid black
                box-shadow: -5px 5px 0 #777
                transition: all 0.1s linear
                text-align: right
                &:hover
                    box-shadow: 0px 0px 0 #777
                    transform: translate(-5px,5px)
                p
                    text-align: center
                    font-size: 28px
                    font-weight: 600
                hr.divider
                    border: 0
                    border-top: 2px solid black
                    margin: 5px -2vw 15px -2vw
                .text,textarea
                    font-family: inherit
                    margin: 10px 0px
                    padding: 10px 8px
                    border: 2px solid #555
                    background-color: #ccc
                    display: block
                    width: 300px
                    font-size: 18px
                    &::placeholder
                        font-size: 16px
                #send
                    font-family: inherit
                    background-color: #ccc
                    padding: 5px
                    font-size: 15px
                    border: 2px solid black
