* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  cursor: url(../images/cursor.png), auto;
}
html ::-webkit-scrollbar {
  display: none;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.sidebar {
  position: fixed;
  right: 1vw;
  top: 50vh;
  transform: translate(0%, -50%);
  background-color: black;
  z-index: 1;
}
.sidebar #scroll {
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #F55149;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.2s linear -50ms;
}
.sidebar a {
  text-decoration: none;
  color: #F55149;
  display: block;
  margin: 5px;
  line-height: 0;
  cursor: inherit;
}
.sidebar a::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #F55149;
}

.view3, .view2, .view1 {
  height: 100vh;
  position: relative;
  padding: 5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.view3 .view-heading, .view2 .view-heading, .view1 .view-heading {
  display: block;
  font-size: 80px;
  font-weight: 800;
}

.view1 {
  background-color: #D6EC9B;
}
.view1 #bb {
  position: absolute;
  font-size: 150px;
  color: #F55149;
  background-color: #F59D9A;
  padding: 0px 35px;
  box-shadow: -5px 5px 0 #F55149;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.1s;
}
.view1 #bb #were {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: -30px;
  transition: all 0.5s ease;
  font-variant-caps: unicase;
  text-align: center;
  width: 0;
}
.view1 #bb .container {
  position: absolute;
  top: 50%;
  left: 50%;
}
.view1 #bb .container .names {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 40px;
  transition: all 0.5s ease;
}
.view1 #bb:hover {
  transform: translate(-50%, -50%) translate(-5px, 5px);
  box-shadow: 0px 0px 0 #F55149;
}
.view1 #bb:hover #were {
  width: 100%;
  margin-top: -150px;
  margin-bottom: 120px;
}
.view1 #bb:hover .names {
  opacity: 1;
}
.view1 #bb:hover #name1 {
  transition-delay: 500ms;
  transform: translate(25vw, -25vh);
}
.view1 #bb:hover #name2 {
  transition-delay: 550ms;
  transform: translate(25vw, 0vw);
}
.view1 #bb:hover #name3 {
  transition-delay: 600ms;
  transform: translate(25vw, 25vh);
}
.view1 #bb:hover #name4 {
  transition-delay: 550ms;
  transform: translateX(-100%) translate(-25vw, -25vh);
}
.view1 #bb:hover #name5 {
  transition-delay: 600ms;
  transform: translateX(-100%) translate(-25vw, 0vw);
}
.view1 #bb:hover #name6 {
  transition-delay: 650ms;
  transform: translateX(-100%) translate(-25vw, 25vh);
}

.view2 {
  background-color: #F59D9A;
}
.view2 .work-container {
  display: flex;
  padding: 2%;
}
.view2 .work-container .work {
  margin: 1%;
  text-align: right;
  text-decoration: none;
  color: #000;
}
.view2 .work-container .work img {
  width: 300px;
}
.view2 .work-container .work p {
  margin-top: -20px;
  font-size: 30px;
  font-weight: 600;
}
.view2 .work-container .work p span {
  position: relative;
  z-index: 1;
}
.view2 .work-container .work p::after {
  content: "";
  display: inline-block;
  position: absolute;
  transform: translateX(-95%);
  background-color: #F55149;
  width: 200px;
  height: 30px;
}

.view3 {
  background-color: #aaa;
}
.view3 .view-content {
  margin: 5vw;
  display: flex;
  justify-content: space-between;
}
.view3 .view-content .info-container {
  flex-direction: column;
}
.view3 .view-content .info-container p {
  padding: 5px 0px;
  width: fit-content;
  margin-bottom: 5px;
}
.view3 .view-content .info-container p.copy, .view3 .view-content .info-container p br {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.view3 .view-content .info-container p.copy::selection, .view3 .view-content .info-container p br::selection {
  color: #fff;
  background-color: #555;
}
.view3 .view-content .form-container {
  width: 350px;
}
.view3 .view-content .form-container form {
  background-color: #fff;
  padding: 5px 2% 15px 2%;
  border: 2px solid black;
  box-shadow: -5px 5px 0 #777;
  transition: all 0.1s linear;
  text-align: right;
  width: 100%;
}
.view3 .view-content .form-container form:hover {
  box-shadow: 0px 0px 0 #777;
  transform: translate(-5px, 5px);
}
.view3 .view-content .form-container form p {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.view3 .view-content .form-container form hr.divider {
  border: 0;
  border-top: 2px solid black;
  margin: 5px -2% 15px -2%;
}
.view3 .view-content .form-container form .text, .view3 .view-content .form-container form textarea {
  font-family: inherit;
  margin: 10px 0px;
  padding: 10px 8px;
  border: 2px solid #555;
  background-color: #ccc;
  display: block;
  width: 100%;
  font-size: 18px;
}
.view3 .view-content .form-container form .text::placeholder, .view3 .view-content .form-container form textarea::placeholder {
  font-size: 16px;
}
.view3 .view-content .form-container form #send {
  font-family: inherit;
  background-color: #ccc;
  padding: 5px;
  font-size: 15px;
  border: 2px solid black;
}

@media (max-width: 600px) {
  .view3 .view-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
  }
}

/*# sourceMappingURL=style.css.map */
